<h3>Notifications</h3>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @notifications.each do |notify| %>
    <tr>
      <td><%= link_to notify.id, notification_path(notify.id) %></td>
      <td><%= notify.name %></td>
      <td><%= notify.description %></td>
      <td nowrap>
        <%= link_to '<i class="show fi-magnifying-glass"></i>'.html_safe, notification_path(notify.id), :title => t('notifications.show.hover_title') %>
        <%= link_to '<i class="edit fi-page-edit"></i>'.html_safe, edit_notification_path(notify.id), :title => t('notifications.edit.hover_title') %>
        <%= link_to '<i class="delete fi-trash"></i>'.html_safe, notification_path(notify.id),method: :delete, data: { confirm: "Are you sure?" }, :title => t('notifications.destroy.hover_title') %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to "New Notification <i class='fi-plus'></i>".html_safe, new_notification_path, :class => "button float-right" %>
