<h3>Registered Notifications</h3>
<table class="hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Company</th>
      <th>Contact Name</th>
      <th>Email</th>
      <th>Telephone</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @notifications.each do |notify| %>
    <tr>
      <td><%= link_to notify.id, notification_path(notify.id) %></td>
      <td><%= notify.company %></td>
      <td><%= notify.contact_name %></td>
      <td><%= notify.email %></td>
      <td><%= notify.telephone %></td>
      <td nowrap>
      <% if can? :read, notify %>
        <%= link_to '<i class="show fi-magnifying-glass"></i>'.html_safe, notification_path(notify.id), :title => t('notifications.show.hover_title') %>
      <% end %>
      <% if can? :update, notify %>
        <%= link_to '<i class="edit fi-page-edit"></i>'.html_safe, edit_notification_path(notify.id), :title => t('notifications.edit.hover_title') %>
      <% end %>
      <% if can? :destroy, notify %>
        <%= link_to '<i class="delete fi-x"></i>'.html_safe, notification_path(notify.id),method: :delete, data: { confirm: "Are you sure?" }, :title => t('notifications.destroy.hover_title') %>
      <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% if can? :create, Notification %>
  <%= link_to "New Notification <i class='fi-plus'></i>".html_safe, new_notification_path, :class => "button float-right" %>
<% end %>
