<h3>Edit User</h3>
<div class="form-container">
  <%= simple_form_for @user, url:  user_path, :method => :patch do |f| %>
  <div class="row column">
    <%= f.input :full_name, label: 'Full name' %>
    <%= f.input :email, label: 'Email', error: 'Username is mandatory, please specify one' , placeholder: 'user@domain.com' %>
    <%#= f.input :password %>

    <% if current_user.user_type = 'Administrator' %>
      <%= f.input :user_type do %>
        <%= f.collection_select(:user_type, User::USER_TYPES,:to_s,:to_s , {include_blank: 'Select a User Type'}) %>
      <% end %>

      <%= f.input :client_id do %>
        <%= f.collection_select(:client_id, Client.all, :id, :company, {include_blank: 'Assign a Client'}) %>
      <% end %>
      <%= f.input :consignee_id do %>
        <%= f.collection_select(:consignee_id, Consignee.all, :id, :company, {include_blank: 'Assign a Consignee'}) %>
      <% end %>
      <%= f.input :notification_id do %>
        <%= f.collection_select(:notification_id, Notification.all, :id, :company, {include_blank: 'Assign a Notify Party'}) %>
      <% end %>
    <% end %>

    <%= f.button :submit, class: 'expanded' %>
  </div>
<% end %>
</div>
