<h3>Registered Users</h3>
<table class="hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>User Type</th>
      <th>Sign-ins</th>
      <th>Last Sign-in</th>
      <th>Last Sign-in IP</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.full_name, user_path(user.id) %></td>
      <td><%= user.email %></td>
      <td><%= user.user_type %></td>
      <td><%= user.sign_in_count %></td>
      <td><%= user.last_sign_in_at %></td>
      <td><%= user.last_sign_in_ip %></td>
      <td nowrap>
        <% if can? :read, @user %>
          <%= link_to '<i class="show fi-magnifying-glass"></i>'.html_safe, user_path(user.id), :title => t('users.show.hover_title') %>
        <% end %>
        <% if can? :update, @user %>
          <%= link_to '<i class="edit fi-page-edit"></i>'.html_safe, edit_user_path(user.id), :title => t('users.edit.hover_title') %>
        <% end %>
        <% if can? :destroy, @user %>
          <%= link_to  '<i class="delete fi-x"></i>'.html_safe, user_path(user.id), method: :delete, data: { confirm: "Are you sure?" }, :title => t('users.destroy.hover_title') %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% if can? :create, User %>
  <%= link_to "New User <i class='fi-plus'></i>".html_safe, new_user_path, :class => "button float-right" %>
<% end %>
<%= paginate @users %>
