<h3>Edit Client</h3>
<%= form_for @client, url: {action: "update"} do |f| %>
<div class="row">
  <div class="large-6 columns">
    <%= f.label :company %>
    <%= f.text_field :company %>
  </div>
  <div class="large-6 columns">
    <%= f.label :contact_name %>
    <%= f.text_field :contact_name %>
  </div>
  <div class="large-6 columns">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="large-6 columns">
    <%= f.label :telephone %>
    <%= f.text_field :telephone %>
  </div>
  <div class="large-6 columns">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div class="large-6 columns">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="large-6 columns">
    <%= f.label :country %>
    <%= f.text_field :country %>
  </div>
  <div class="large-6 columns">
    <%= f.label :zip %>
    <%= f.text_field :zip %>
  </div>
  <div class="actions">
    <%= f.submit "Edit Client Details", class: 'button expanded' %>
  </div>
</div>
<% end %>
