<h3>Registered Clients</h3>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Company</th>
      <th>Contact Name</th>
      <th>Email</th>
      <th>Telephone</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @clients.each do |client| %>
    <tr>
      <td><%= link_to client.id, client_path(client.id) %></td>
      <td><%= client.company %></td>
      <td><%= client.contact_name %></td>
      <td><%= client.email %></td>
      <td><%= client.telephone %></td>
      <td nowrap>
        <%= link_to '<i class="show fi-magnifying-glass"></i>'.html_safe, client_path(client.id), :title => t('clients.show.hover_title') %>
        <%= link_to '<i class="edit fi-page-edit"></i>'.html_safe, edit_client_path(client.id), :title => t('clients.edit.hover_title') %>
        <%= link_to '<i class="delete fi-x"></i>'.html_safe, client_path(client.id),method: :delete, data: { confirm: "Are you sure?" }, :title => t('clients.destroy.hover_title') %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to "New Client", new_client_path, :class => "button float-right" %>
