<h3>
  <span class="float-left">
    Viewing Client <small>#<%= @client.id %></small>
    <% if @client.user %>
      <small>related to <%= link_to("user #{@client.user.email}", @client.user) %></small>
    <% end %>
  </span>
  <span class="float-right">
    <% if can? :read, Client %>
      <%= link_to("View All Clients <i class='fi-magnifying-glass'></i>".html_safe, clients_path, :class => 'tiny button') %>
    <% end %>
    <% if can? :update, @client %>
      <%= link_to("Edit Client <i class='fi-page-edit'></i>".html_safe, edit_client_path(@client.id), :class => 'tiny button') %>
    <% end %>
  </span>
</h3>
<div class="details row column">
  <dl class="inline">
  <div class="large-6 columns">
    <dt>Company :</dt>
    <dd><%= @client.company %></dd>
  </div>
  <div class="large-6 columns">
   <dt>Contact Name :</dt>
   <dd><%= @client.contact_name %></dd>
  </div>
  <div class="large-6 columns">
    <dt>Email :</dt>
    <dd><%= @client.email %></dd>
  </div>
  <div class="large-6 columns">
    <dt>Telephone :</dt>
    <dd><%= @client.telephone %></dd>
  </div>
  <div class="large-6 columns">
    <dt>Address :</dt>
    <dd><%= @client.address %></dd>
  </div>
  <div class="large-6 columns">
    <dt>City :</dt>
    <dd><%= @client.city %></dd>
  </div>
  <div class="large-6 columns">
    <dt>Country :</dt>
    <dd><%= @client.country %></dd>
  </div>
  <div class="large-6 columns">
    <dt>ZIP :</dt>
    <dd><%= @client.zip %></dd>
  </div>
  </dl>
</div>
