<div class="row column">
  <h3>
    <span class="float-left">
      Viewing Client / Shipper <small>#<%= @client.id %></small>
    </span>
    <span class="float-right">
      <% if can? :read, Client %>
        <%= link_to("View All Clients <i class='fi-magnifying-glass'></i>".html_safe, clients_path, :class => 'tiny button') %>
      <% end %>
      <% if can? :update, @client %>
        <%= link_to("Edit Client <i class='fi-page-edit'></i>".html_safe, edit_client_path(@client.id), :class => 'tiny button') %>
      <% end %>
    </span>
  </h3>
</div>
<div class="row column">
  <div class="details">
    <dl class="inline">
    <div class="large-4 columns">
      <dt>Company :</dt>
      <dd><%= @client.company %></dd>
    </div>
    <div class="large-4 columns">
     <dt>Contact Name :</dt>
     <dd><%= @client.contact_name %></dd>
    </div>
    <div class="large-4 columns">
      <dt>Email :</dt>
      <dd><%= @client.email %></dd>
    </div>
    <div class="large-4 columns">
      <dt>Telephone :</dt>
      <dd><%= @client.telephone %></dd>
    </div>
    <div class="large-4 columns">
      <dt>Address :</dt>
      <dd><%= @client.address %></dd>
    </div>
    <div class="large-4 columns">
      <dt>City :</dt>
      <dd><%= @client.city %></dd>
    </div>
    <div class="large-4 columns">
      <dt>State / Province :</dt>
      <dd><%= @client.state %></dd>
    </div>
    <div class="large-4 columns">
      <dt>Country :</dt>
      <dd><%= @client.country %></dd>
    </div>
    <div class="large-4 columns">
      <dt>ZIP :</dt>
      <dd><%= @client.zip %></dd>
    </div>
    </dl>
  </div>
</div>
<div class="row column">
  <h4>Associated Users</h4>
  <table class="hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
    <% @client.users.each do |user| %>
      <tr>
        <td><%= link_to user.id, user_path(user.id) %></td>
        <td><%= link_to user.full_name, user_path(user.id) %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
