<%= simple_form_for([@order, @container], :html => {'data-abide' => ' ' }, validate: true) do |f| %>
  <div class="row">
    <div class="large-3 columns">
      <%= f.input :container_number %>
    </div>
    <div class="large-3 columns">
      <%= f.input :shipper_seal %>
    </div>
    <div class="large-3 columns">
      <%= f.input :carrier_seal %>
    </div>
    <div class="large-2 columns">
      <%= f.input :container_type, collection: Container::CONTAINER_TYPES, include_blank: false  %>
    </div>
  </div>
  <div class="row">
    <div class="large-2 columns">
      <%= f.input :units %>
    </div>
    <div class="large-2 columns">
      <%= f.input :unit_type, collection: Container::UNIT_TYPES, include_blank: false %>
    </div>
    <div class="large-2 columns">
      <%= f.input :volume %>
    </div>
    <div class="large-1 columns">
      <%= f.input :volume_units, label: "Units", collection: Container::VOLUME_UNITS, include_blank: false %>
    </div>
    <div class="large-2 columns">
      <%= f.input :tare_weight %>
    </div>
    <div class="large-2 columns">
      <%= f.input :gross_weight %>
    </div>
    <div class="large-1 columns">
      <%= f.input :weight_units, label: "Units", collection: Container::WEIGHT_UNITS, include_blank: false %>
    </div>
  </div>
    <div class="actions row">
    <%= f.button :submit, class: 'expanded' %>
  </div>
<% end %>
