<table class="hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Shipper Seal</th>
      <th>Carrier Seal</th>
      <th>Container Number</th>
      <th>Container Type</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @order.containers.each do |cont| %>
    <tr>
      <td><%= link_to cont.id, order_container_path(cont.order.id, cont.id) %></td>
      <td><%= cont.shipper_seal %></td>
      <td><%= cont.carrier_seal %></td>
      <td><%= cont.container_number %></td>
      <td><%= cont.container_type %></td>
      <td nowrap>
        <% if can? :read, Container %>
          <%= link_to '<i class="show fi-magnifying-glass"></i>'.html_safe, order_container_path(cont.order.id, cont.id), :title => t('containers.show.hover_title') %>
        <% end %>
        <% if can? :update, Container %>
          <%= link_to '<i class="edit fi-page-edit"></i>'.html_safe, edit_order_container_path(cont.order.id, cont.id), :title => t('containers.edit.hover_title') %>
        <% end %>
        <% if can? :destroy, Container %>
          <%= link_to '<i class="delete fi-x"></i>'.html_safe, order_container_path(cont.order.id, cont.id),method: :delete, data: { confirm: "Are you sure?" }, :title => t('containers.destroy.hover_title') %>
        <% end %>
      </td>
      </tr>
    <% end %>
    </tbody>
  </table>
