<%= simple_form_for @order, :html => {'data-abide' => ' ' }, validate: true do |f| %>
  <div class="row">
    <div class="large-4 columns">
      <div class="input-group">
        <%= f.input :client do %>
          <%= f.collection_select(:client_id, Client.all, :id, :company, {}, {:class=>'input-group-field'}) %>
        <% end %>

        <div class="input-group-button" style="padding-top: 25px;">
          <% if can? :create, Client %>
            <%= link_to "New Client", new_client_path, class: 'button' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="large-4 columns">
    <%= f.input :consignee_id  do %>
      <div class="input-group">

        <%= f.collection_select(:consignee_id, Consignee.all, :id, :company, {}, {:class=>'input-group-field'}) %>
        <div class="input-group-button" >
          <% if can? :create, Consignee %>
            <%= link_to "New Consignee", new_consignee_path, class: 'button' %>
          <% end %>
        </div>

      </div>
    <% end %>
    </div>
    <div class="large-4 columns">
    <%= f.input :notification_id  do %>
      <div class="input-group">

        <%= f.collection_select(:notification_id, Notification.all, :id, :company, {}, {:class=>'input-group-field'}) %>
        <div class="input-group-button" >
          <% if can? :create, Notification %>
            <%= link_to "New Notify", new_notification_path, class: 'button' %>
          <% end %>
        </div>

      </div>
    <% end %>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <% @liners = Order::LINERS %>
      <%= f.input :liner, collection: @liners %>
    </div>
    <div class="large-3 columns">
      <%= f.input :vessel %>
    </div>
    <div class="large-3 columns">
      <%= f.input :vessel_departure do %>
      <%= f.date_field :vessel_departure, as: :date, value: @order.vessel_departure.present? ? @order.vessel_departure.try(:strftime,'%Y-%m-%d') : Time.now.strftime('%Y-%m-%d') %>
      <% end %>
    </div>
    <div class="large-3 columns">
    <%= f.input :cutoff do %>
      <%= f.date_field :cutoff, as: :date, value: @order.cutoff.present? ? @order.cutoff.try(:strftime,'%Y-%m-%d') : Time.now.strftime('%Y-%m-%d') %>
    <% end %>
    </div>
  </div>
  <div class="row">
    <div class="large-2 columns">
      <%= f.input :order_date do %>
        <%= f.date_field :order_date, as: :date, :value => @order.order_date.present? ? @order.order_date.try(:strftime,'%Y-%m-%d') : Time.now.strftime('%Y-%m-%d') %>
      <% end %>
    </div>
    <div class="large-2 columns">
      <%= f.input :eta_date do %>
        <%= f.date_field :eta_date, as: :date, :value => @order.eta_date.present? ? @order.eta_date.try(:strftime,'%Y-%m-%d') : Time.now.strftime('%Y-%m-%d') %>
      <% end %>
    </div>
    <div class="large-2 columns">
      <%= f.input :status, collection: Order::STATUSES, include_blank: false  %>
    </div>
    <div class="large-2 columns">
      <%= f.input :mode, collection: Order::MODES, include_blank: false %>
    </div>
    <div class="large-2 columns">
      <%= f.input :volume_units, collection: Order::VOLUME_UNITS, include_blank: false %>
    </div>
    <div class="large-2 columns">
      <%= f.input :weight_units, collection: Order::WEIGHT_UNITS, include_blank: false %>
    </div>
  </div>
    <div class="row">
    <div class="large-2 columns">
      <%= f.input :booking_number %>
    </div>
    <div class="large-2 columns">
      <%= f.input :customer_invoice %>
    </div>
    <div class="large-2 columns">
      <%= f.input :customer_ref, label: "Customer REF" %>
    </div>
    <div class="large-2 columns">
      <%= f.input :dua, label: "DUA" %>
    </div>
    <div class="large-2 columns">
      <%= f.input :fad, label: "FAD" %>
    </div>
    <div class="large-2 columns">
      <%= f.input :place_of_delivery, label: "Place of Delivery" %>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns">
      <%= f.input :pca_invoice_number, label: "PCA Invoice #"  %>
    </div>
    <div class="large-3 columns">
      <%= f.input :pca_invoice_url, label: "PCA Invoice URL"  %>
    </div>
    <div class="large-3 columns">
      <%= f.input :fumigation_date do %>
      <%= f.date_field :fumigation_date, as: :date, value: @order.fumigation_date.present? ? @order.fumigation_date.try(:strftime,'%Y-%m-%d') : Time.now.strftime('%Y-%m-%d') %>
      <% end %>
    </div>
    <div class="large-3 columns">
      <%= f.input :fumigation_url, label: "Fumigation URL" %>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns">
      <%= f.input :delivered_to_port %>
    </div>
    <div class="large-2 columns">
      <%= f.input :bl_print, label: "BL Print" %>
    </div>
    <div class="large-2 columns">
      <%= f.input :phyto_print, label: "Phyto Print" %>
    </div>
    <div class="large-2 columns">
      <%= f.input :co_print, label: "CO Print" %>
    </div>
    <div class="large-3 columns">
      <%= f.input :invoice_paid, label: "Invoice Paid" %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.input :notes %>
    </div>
  </div>
  <div class="actions row column">
      <%= f.button :submit, class: 'expanded' %>
  </div>
<% end %>
