<% if current_user %>
  <div class="details">
  <%= search_form_for @q do |f| %>
    <div class="small-1 columns">
      <%= f.label :status %>
      <% order_status_filter = "Open"
          if params[:q]
            order_status_filter = params[:q][:status_eq]
          end
      %>
      <%= f.select :status_eq, Order::STATUSES, :selected => order_status_filter, include_blank: "Any" %>
    </div>
    <div class="small-1 columns">
      <%= f.label :liner %>
      <%= f.select :liner_eq, Order::LINERS, include_blank: "Any" %>
    </div>
    <div class="small-1 columns">
      <%= f.label :booking_number, 'Booking #' %>
      <%= f.search_field :booking_number_cont %>
    </div>
    <div class="small-2 columns">
      <%= f.label :place_of_delivery, 'Place of Delivery' %>
      <%= f.search_field :place_of_delivery_cont %>
    </div>
    <% unless current_user.user_type == 'Client' %>
      <div class="small-2 columns">
        <%= f.label :client_company %>
        <%= f.search_field :client_company_cont %>
      </div>
    <% end %>
    <% unless current_user.user_type == 'Consignee' %>
      <div class="small-2 columns">
        <%= f.label :consignee_company %>
        <%= f.search_field :consignee_company_cont %>
      </div>
    <% end %>
    <% unless current_user.user_type == 'Notify' %>
      <div class="small-2 columns">
        <%= f.label :notification_company %>
        <%= f.search_field :notification_company_cont %>
      </div>
    <% end %>
    <div class="small-1 columns" style="padding-top: 24px;">
      <%= f.submit 'Filter Orders', :class => 'button' %>
    </div>
  <% end %>
  </div>
<% end %>
