<h3>
  <span class="float-left">
    Viewing Order <small>#<%= @order.id %></small>
  </span>
  <span class="float-right">
    <% if can? :read, @order %>
      <%= link_to("View All Orders <i class='fi-magnifying-glass'></i>".html_safe, orders_path, :class => 'tiny button') %>
    <% end %>
    <% if can? :update, @order %>
      <%= link_to("Edit This Order <i class='fi-page-edit tiny'></i>".html_safe, edit_order_path(@order.id), :class => 'tiny button') %>
    <% end %>
  </span>
</h3>
<div class="details row column">
  <dl class="inline">
  <div class="large-4 columns">
    <dt>Client :</dt>
    <dd><%= link_to @order.client.company, @order.client %></dd>
  </div>
  <div class="large-4 columns">
    <dt>Consignee :</dt>
    <dd><%= link_to @order.consignee.company, @order.consignee %></dd>
  </div>
    <div class="large-4 columns">
    <dt>Notify :</dt>
    <dd><%= link_to @order.notification.company, @order.notification %></dd>
  </div>
  <div class="large-4 columns">
    <dt>Liner :</dt>
    <dd><%= @order.liner %></dd>
  </div>
  <div class="large-4 columns">
    <dt>Vessel :</dt>
    <dd><%= @order.vessel %></dd>
  </div>
  <div class="large-4 columns">
    <dt>Vessel Departure :</dt>
    <dd><%= @order.vessel_departure %></dd>
  </div>
  <div class="large-3 columns">
   <dt>Order Date :</dt>
   <dd><%= @order.order_date %></dd>
  </div>
  <div class="large-3 columns">
    <dt>Mode :</dt>
    <dd><%= @order.mode %></dd>
  </div>
  <div class="large-3 columns">
    <dt>Status :</dt>
    <dd><%= @order.status %></dd>
  </div>
  <div class="large-3 columns">
    <dt>Booking Number :</dt>
    <dd><%= @order.booking_number %></dd>
  </div>
  <div class="large-3 columns">
    <dt>Cutoff :</dt>
    <dd><%= @order.cutoff %></dd>
  </div>
  <div class="large-3 columns">
    <dt>DUA :</dt>
    <dd><%= @order.dua %></dd>
  </div>
  <div class="large-3 columns">
    <dt>FAD :</dt>
    <dd><%= @order.fad %></dd>
  </div>
  <div class="large-3 columns">
    <dt>Customer Invoice :</dt>
    <dd><%= @order.customer_invoice %></dd>
  </div>
  <div class="large-12 columns">
    <dt>Notes :</dt>
    <dd><%= @order.notes %></dd>
  </div>
  </dl>
</div>
<br/>
<div class="row column">
  <h4>Containers</h4>
  <dl class="inline">
    <div class="large-3 columns">
      <dt>Total Containers :</dt>
      <dd><%= @order.total_containers(@order.id) %></dd>
    </div>
    <div class="large-3 columns">
      <dt>Total Units :</dt>
      <dd><%= @order.total_units(@order.id) %> <%= @order.unit_type(@order.id) %></dd>
    </div>
    <div class="large-3 columns">
      <dt>Total Weight :</dt>
      <dd><%= @order.total_weight(@order.id) %> <%= @order.weight_units(@order.id) %></dd>
    </div>
    <div class="large-3 columns">
      <dt>Total Volume :</dt>
      <dd><%= @order.total_volume(@order.id) %> <%= @order.volume_units(@order.id) %></dd>
    </div>
  </dl>
  <table class="hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Shipper Seal</th>
      <th>Carrier Seal</th>
      <th>Container Number</th>
      <th>Container Type</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @order.containers.each do |cont| %>
    <tr>
      <td><%= link_to cont.id, order_container_path(cont.order.id, cont.id) %></td>
      <td><%= cont.shipper_seal %></td>
      <td><%= cont.carrier_seal %></td>
      <td><%= cont.container_number %></td>
      <td><%= cont.container_type %></td>
      <td nowrap>
        <% if can? :read, Container %>
          <%= link_to '<i class="show fi-magnifying-glass"></i>'.html_safe, order_container_path(cont.order.id, cont.id), :title => t('containers.show.hover_title') %>
        <% end %>
        <% if can? :update, Container %>
          <%= link_to '<i class="edit fi-page-edit"></i>'.html_safe, edit_order_container_path(cont.order.id, cont.id), :title => t('containers.edit.hover_title') %>
        <% end %>
        <% if can? :destroy, Container %>
          <%= link_to '<i class="delete fi-x"></i>'.html_safe, order_container_path(cont.order.id, cont.id),method: :delete, data: { confirm: "Are you sure?" }, :title => t('containers.destroy.hover_title') %>
        <% end %>
      </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% if can? :create, Container %>
    <%= link_to("Add Container <i class='fi-plus'></i>".html_safe, new_order_container_path(@order.id), :class => "button float-right" ) %>
  <% end %>
</div>
<br/>
<div class="row column">
  <h4>Bill of Ladings</h4>
  <table class="hover">
    <thead>
      <th>#</th>
      <th>Document Number</th>
      <th>Liner</th>
      <th>Actions</th>
    </thead>
    <tbody>
    <% @order.bill_of_ladings.each do |bl| %>
      <tr>
        <td><%= link_to bl.id, order_path(bl.id) %></td>
        <td><%= bl.document_number %></td>
        <td><%= bl.liner %></td>
        <td nowrap>
         <% if can? :read, BillOfLading %>
           <%= link_to '<i class="pdf fi-page-export-pdf"></i>'.html_safe, order_bill_of_lading_path(bl.order.id, bl.id, :format => 'pdf'), :target => "_blank", :title => t('bill_of_ladings.showPDF.hover_title') %>
         <% end %>
          <% if can? :read, BillOfLading %>
            <%= link_to '<i class="show fi-magnifying-glass"></i>'.html_safe, order_bill_of_lading_path(bl.order.id, bl.id), :title => t('bill_of_ladings.show.hover_title') %>
          <% end %>
          <% if can? :update, BillOfLading %>
            <%= link_to '<i class="edit fi-page-edit"></i>'.html_safe, edit_order_bill_of_lading_path(bl.order.id, bl.id), :title => t('bill_of_ladings.edit.hover_title') %>
          <% end %>
          <% if can? :destroy, BillOfLading %>
            <%= link_to '<i class="delete fi-x"></i>'.html_safe, order_bill_of_lading_path(bl.order.id, bl.id),method: :delete, data: { confirm: "Are you sure?" }, :title => t('bill_of_ladings.destroy.hover_title') %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% if can? :create, BillOfLading %>
    <%= link_to("Add BL <i class='fi-plus'></i>".html_safe, new_order_bill_of_lading_path(@order.id), :class => "button float-right" ) %>
  <% end %>
</div>
<div class="row column">
  <h4>Certificate of Origins</h4>
  <table class="hover">
    <thead>
      <th>#</th>
      <th>Shipper</th>
      <th>Mode</th>
      <th>Departure</th>
      <th>Discharge</th>
      <th>Actions</th>
    </thead>
    <tbody>
    <% @order.certificates.each do |co| %>
      <tr>
        <td><%= link_to co.id, order_path(co.id) %></td>
        <td><%= co.shipper %></td>
        <td><%= co.mode %></td>
        <td><%= co.departure_port %></td>
        <td><%= co.discharge_port %></td>
        <td nowrap>
          <% if can? :read, Certificate %>
            <%= link_to '<i class="pdf fi-page-export-pdf"></i>'.html_safe, order_certificate_path(co.order.id, co.id, :format => 'pdf'), :target => "_blank", :title => t('certificates.showPDF.hover_title') %>
          <% end %>
          <% if can? :read, Certificate %>
            <%= link_to '<i class="show fi-magnifying-glass"></i>'.html_safe, order_certificate_path(co.order.id, co.id), :title => t('certificates.show.hover_title') %>
          <% end %>
          <% if can? :update, Certificate %>
            <%= link_to '<i class="edit fi-page-edit"></i>'.html_safe, edit_order_certificate_path(co.order.id, co.id), :title => t('certificates.edit.hover_title') %>
          <% end %>
          <% if can? :destroy, Certificate %>
            <%= link_to '<i class="delete fi-x"></i>'.html_safe, order_certificate_path(co.order.id, co.id),method: :delete, data: { confirm: "Are you sure?" }, :title => t('certificates.destroy.hover_title') %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% if can? :create, Certificate %>
    <%= link_to("Add CO <i class='fi-plus'></i>".html_safe, new_order_certificate_path(@order.id), :class => "button float-right" ) %>
  <% end %>
</div>

<div class="row column">
  <h4>Phytosanitaries</h4>
  <table class="hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Number</th>
      <th>Exporter</th>
      <th>Consignee</th>
      <th>Mode</th>
      <th>Point of Exit</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @order.phytosanitaries.each do |phyto| %>
    <tr>
      <td><%= link_to phyto.id, order_phytosanitary_path(phyto.id) %></td>
      <td><%= phyto.number %></td>
      <td><%= phyto.exporter %></td>
      <td><%= phyto.receiver %></td>
      <td><%= phyto.mode %></td>
      <td><%= phyto.point_of_exit %></td>
      <td nowrap>
        <% if can? :read, phyto %>
          <%= link_to '<i class="pdf fi-page-export-pdf"></i>'.html_safe, order_phytosanitary_path(@order, phyto.id, :format => 'pdf'), :target => "_blank", :title => t('phytosanitaries.showPDF.hover_title') %>
        <% end %>
        <% if can? :read, phyto %>
          <%= link_to '<i class="show fi-magnifying-glass"></i>'.html_safe, order_phytosanitary_path(@order, phyto.id), :title => t('phytosanitaries.show.hover_title') %>
        <% end %>
        <% if can? :update, phyto %>
          <%= link_to '<i class="edit fi-page-edit"></i>'.html_safe, edit_order_phytosanitary_path(@order, phyto.id), :title => t('phytosanitaries.edit.hover_title') %>
        <% end %>
        <% if can? :destroy, phyto %>
          <%= link_to '<i class="delete fi-x"></i>'.html_safe, order_phytosanitary_path(@order, phyto.id),method: :delete, data: { confirm: "Are you sure?" }, :title => t('phytosanitaries.destroy.hover_title') %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% if can? :create, Phytosanitary %>
  <%# new_phyto_path = polymorphic_path([@order, @phytosanitary]) %>
  <%= link_to("Add Phyto <i class='fi-plus'></i>".html_safe, new_order_phytosanitary_path(@order.id), :class => "button float-right" ) %>
<% end %>
</div>
