<h3>Viewing Order # <%= @order.id %>
  <span class="float-right">
    <%= link_to("View All Orders <i class='fi-magnifying-glass'></i>".html_safe, orders_path, :class => 'tiny button') %>
    <%= link_to("Edit This Order <i class='fi-page-edit tiny'></i>".html_safe, edit_order_path(@order.id), :class => 'tiny button') %>
  </span>
</h3>
<div class="details row column">
  <dl class="inline">
  <div class="large-6 columns">
    <dt>Client :</dt>
    <dd><%= @order.client.company %></dd>
  </div>
  <div class="large-6 columns">
   <dt>Order Date :</dt>
   <dd><%= @order.order_date %></dd>
  </div>
  <div class="large-6 columns">
    <dt>Mode :</dt>
    <dd><%= @order.mode %></dd>
  </div>
  <div class="large-6 columns">
    <dt>Status :</dt>
    <dd><%= @order.status %></dd>
  </div>
  <div class="large-12 columns">
    <dt>Notes :</dt>
    <dd><%= @order.notes %></dd>
  </div>
  </dl>
</div>
<br/>
<div class="row column">
  <h4>Associated Certificate of Origins</h4>
  <table class="hover">
    <thead>
      <th>ID #</th>
      <th>Shipper</th>
      <th>Mode</th>
      <th>Departure</th>
      <th>Discharge</th>
      <th>Actions</th>
    </thead>
    <tbody>
    <% @order.certificates.each do |co| %>
      <tr>
        <td><%= link_to co.id, order_path(co.id) %></td>
        <td><%= co.shipper %></td>
        <td><%= co.mode %></td>
        <td><%= co.departure_port %></td>
        <td><%= co.discharge_port %></td>
        <td nowrap>
          <%= link_to '<i class="show fi-magnifying-glass"></i>'.html_safe, certificate_path(co.id), :title => t('certificates.show.hover_title') %>
          <%= link_to '<i class="edit fi-page-edit"></i>'.html_safe, edit_certificate_path(co.id), :title => t('certificates.edit.hover_title') %>
          <%= link_to '<i class="delete fi-x"></i>'.html_safe, certificate_path(co.id),method: :delete, data: { confirm: "Are you sure?" }, :title => t('certificates.destroy.hover_title') %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= link_to("New CO <i class='fi-plus'></i>".html_safe, new_certificate_path, :class => "button float-right" ) %>
</div>

<div class="row column">
  <h4>Associated Phytosanitaries</h4>
  <table class="hover">
    <thead>
      <th>ID #</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row column">
  <h4>Associated Bill of Ladings</h4>
  <table class="hover">
    <thead>
      <th>ID #</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
