<%= simple_form_for([@order, @certificate], :html => {'data-abide' => ' ' }, validate: true ) do |f| %>
  <div class="row">
    <div class="large-6 columns">
      <%= f.input :shipper, input_html: {value: @certificate.shipper.present? ? @certificate.shipper : @order.client.shipper_string }%>
    </div>
    <div class="large-6 columns">
      <%= f.input :receiver, input_html: {value: @certificate.receiver.present? ? @certificate.receiver : @order.consignee.consignee_string }  %>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <%= f.input :farm %>
    </div>
    <div class="large-6 columns">
      <%= f.input :country, priority: [ "Costa Rica" ]%>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <%= f.input :order_id do %>
      <%= f.collection_select(:order_id, Order.all, :id, :order_for_select ) %>
      <% end %>
    </div>
    <div class="large-4 columns">
      <%= f.input :mode, collection: Order::MODES, include_blank: false %>
    </div>
    <div class="large-4 columns">
      <%= f.input :notify, input_html: {value: @certificate.notify.present? ? @certificate.notify : @order.notification.notify_string } %>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <%= f.input :departure_port %>
    </div>
    <div class="large-6 columns">
      <%= f.input :discharge_port %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.input :observations %>
    </div>
  </div>
  <div class="row">
    <hr/>
    <div class="large-6 columns">
      <%= f.input :description %>
    </div>
    <div class="large-6 columns">
      <%= f.input :invoices %>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns">
      <%= f.input :units, input_html: {value: @certificate.units.present? ? @certificate.units : @order.total_units(@order.id) } %>
    </div>
    <div class="large-3 columns">
      <%= f.input :unit_type, collection: Order::UNIT_TYPES, include_blank: false %>
    </div>
    <div class="large-3 columns">
      <div class="input-group">
        <%= f.input :volume, input_html: {value: @certificate.volume.present? ? @certificate.volume : @order.total_volume(@order.id), class: 'input-group-field' } %>
            <label class="input-group-label"><%= @certificate.order.volume_units %></label>
      </div>
    </div>
      <div class="large-3 columns">
      <div class="input-group">
        <%= f.input :gross_weight, input_html: {value: @certificate.gross_weight.present? ? @certificate.gross_weight : @order.total_weight(@order.id), class: 'input-group-field' } %>
        <label class="input-group-label"><%= @certificate.order.weight_units %></label>
      </div>
    </div>
  </div>
  <div class="actions row">
    <%= f.button :submit, class: 'expanded' %>
  </div>
<% end %>
