<h3>Certificates of Origin</h3>
<table class="hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Shipper</th>
      <th>Consignee</th>
      <th>Farm</th>
      <th>Country</th>
      <th>Mode</th>
      <th>Order</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @certificates.each do |co| %>
    <tr>
      <td><%= link_to co.id, certificate_path(co.id) %></td>
      <td><%= co.shipper %></td>
      <td><%= co.consignee %></td>
      <td><%= co.farm %></td>
      <td><%= co.country %></td>
      <td><%= co.mode%></td>
      <td><%= link_to co.order.id, order_path(co.order.id) %></td>
      <td nowrap>
        <%= link_to '<i class="show fi-magnifying-glass"></i>'.html_safe, certificate_path(co.id), :title => t('certificates.show.hover_title') %>
        <%= link_to '<i class="edit fi-page-edit"></i>'.html_safe, edit_certificate_path(co.id), :title => t('certificates.edit.hover_title') %>
        <%= link_to '<i class="delete fi-x"></i>'.html_safe, certificate_path(co.id),method: :delete, data: { confirm: "Are you sure?" }, :title => t('certificates.destroy.hover_title') %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to "New Certificate of Origin <i class='fi-plus'></i>".html_safe, new_certificate_path, :class => "button float-right" %>
