<h3>View Certificate of Origin
  <span class="float-right">
    <%= link_to("View All COs <i class='fi-magnifying-glass'></i>".html_safe, certificates_path, :class => "tiny button") %>
    <%= link_to("Edit This CO <i class='fi-page-edit'></i>".html_safe, edit_certificate_path(@co.id), :class => "tiny button") %>
    <%= link_to("View PDF <i class='alert fi-page-export-pdf'></i>".html_safe, certificate_path(@co, :format => 'pdf'), :target => "_blank", :class => "tiny alert button") %>
  </span>
</h3>
<hr/>
<dl class="inline">
  <div class="large-6 columns">
    <dt>Shipper:</dt>
    <dd><%= @co.shipper %></dd>
  </div>
  <div class="large-6 columns">
   <dt>Consignee:</dt>
   <dd><%= @co.consignee %></dd>
 </div>
 <div class="large-6 columns">
  <dt>Farm</dt>
  <dd><%= @co.farm %></dd>
  </div>
  <div class="large-6 columns">
    <dt>Country:</dt>
    <dd><%= @co.country %></dd>
  </div>
  <div class="large-6 columns">
    <dt>Departure Port:</dt>
    <dd><%= @co.departure_port %></dd>
  </div>
  <div class="large-6 columns">
    <dt>Discharge Port:</dt>
    <dd><%= @co.discharge_port %></dd>
  </div>
  <div class="large-6 columns">
    <dt>Mode:</dt>
    <dd><%= @co.mode %></dd>
  </div>
  <div class="large-6 columns">
    <dt>Observations:</dt>
    <dd><%= @co.observations %></dd>
  </div>
  <hr />
  <div class="large-12 columns">
    <dt>Description:</dt>
    <dd><%= @co.description %></dd>
  </div>
  <div class="large-2 columns">
    <dt>Units:</dt>
    <dd><%= @co.units %></dd>
  </div>
  <div class="large-3 columns">
    <dt>Volume:</dt>
    <dd><%= @co.volume %></dd>
  </div>
  <div class="large-3 columns">
    <dt>Weight:</dt>
    <dd><%= @co.gross_weight %></dd>
  </div>
  <div class="large-4 columns">
    <dt>Invoices:</dt>
    <dd><%= @co.invoices %></dd>
  </div>
</dl>
