<h3>Bill of Ladings</h3>
<table class="hover">
  <thead>
    <tr>
      <th><%= sort_link(@q, :id, '#') %></th>
      <th><%= sort_link(@q, :exporter) %></th>
      <th><%= sort_link(@q, :receiver) %></th>
      <th><%= sort_link(@q, :liner) %></th>
      <th><%= sort_link(@q, :loading_port) %></th>
      <th><%= sort_link(@q, :discharge_port) %></th>
      <th>Order</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @bill_of_ladings.each do |bl| %>
    <tr>
      <td><%= link_to bl.id, order_bill_of_ladings_path(bl.order.id, bl.id) %></td>
      <td><%= bl.exporter %></td>
      <td><%= bl.receiver %></td>
      <td><%= bl.liner %></td>
      <td><%= bl.loading_port %></td>
      <td><%= bl.discharge_port %></td>
      <td><%= link_to bl.order.id, order_path(bl.order.id) %></td>
      <td nowrap>
        <% if can? :read, bl %>
          <%= link_to '<i class="show fi-magnifying-glass"></i>'.html_safe, order_bill_of_lading_path(bl.order.id, bl.id), :title => t('bill_of_ladings.show.hover_title') %>
        <% end %>
        <% if can? :update, bl %>
          <%= link_to '<i class="edit fi-page-edit"></i>'.html_safe, edit_order_bill_of_lading_path(bl.order.id, bl.id), :title => t('bill_of_ladings.edit.hover_title') %>
        <% end %>
        <% if can? :destroy, bl %>
          <%= link_to '<i class="delete fi-x"></i>'.html_safe, order_bill_of_lading_path(bl.order.id, bl.id),method: :delete, data: { confirm: "Are you sure?" }, :title => t('bill_of_ladings.destroy.hover_title') %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% if can? :create, BillOfLading %>
  <%= link_to "New Bill of Lading <i class='fi-plus'></i>".html_safe, new_order_bill_of_lading_path, :class => "button float-right" %>
<% end %>
<%= paginate @bill_of_ladings %>
