<h3>
  <span class="float-left">
    Bill of Lading #<%= @bill_of_lading.id %>
    <small>on <%= link_to("order # #{@bill_of_lading.order.id}", @bill_of_lading.order) %></small>
  </span>
  <span class="float-right">
    <% if can? :read, BillOfLading %>
      <%= link_to("View All BLs <i class='fi-magnifying-glass'></i>".html_safe, order_bill_of_lading_path, :class => "tiny button") %>
    <% end %>
    <% if can? :update, @bill_of_lading %>
      <%= link_to("Edit This BL <i class='fi-page-edit'></i>".html_safe, edit_order_bill_of_lading_path(@order, @bill_of_lading.id), :class => "tiny button") %>
    <% end %>
    <% if can? :read, @bill_of_lading %>
      <%= link_to("View PDF <i class='alert fi-page-export-pdf'></i>".html_safe, order_bill_of_lading_path(@bill_of_lading, :format => 'pdf'), :target => "_blank", :class => "tiny alert button") %>
    <% end %>
  </span>
</h3>

<div class="details row column">
  <dl class="inline">
    <div class="large-6 columns">
      <dt>Shipper :</dt>
      <dd><%= @bill_of_lading.shipper %></dd>
    </div>
    <div class="large-6 columns">
     <dt>Consignee :</dt>
     <dd><%= @bill_of_lading.consignee %></dd>
   </div>
   <div class="large-6 columns">
    <dt>Farm :</dt>
    <dd><%= @bill_of_lading.farm %></dd>
    </div>
    <div class="large-6 columns">
      <dt>Country :</dt>
      <dd><%= @bill_of_lading.country_name %></dd>
    </div>
    <div class="large-6 columns">
      <dt>Departure Port :</dt>
      <dd><%= @bill_of_lading.departure_port %></dd>
    </div>
    <div class="large-6 columns">
      <dt>Discharge Port :</dt>
      <dd><%= @bill_of_lading.discharge_port %></dd>
    </div>
    <div class="large-6 columns">
      <dt>Mode :</dt>
      <dd><%= @bill_of_lading.mode %></dd>
    </div>
    <div class="large-6 columns">
      <dt>Observations :</dt>
      <dd><%= @bill_of_lading.observations %></dd>
    </div>
    <hr />
    <div class="large-12 columns">
      <dt>Description :</dt>
      <dd><%= @bill_of_lading.description %></dd>
    </div>
    <div class="large-3 columns">
      <dt>Units :</dt>
      <dd><%= @bill_of_lading.units %> <%= @bill_of_lading.unit_type %></dd>
    </div>
    <div class="large-3 columns">
      <dt>Volume :</dt>
      <dd><%= @bill_of_lading.volume %> <%= @bill_of_lading.volume_units %></dd>
    </div>
    <div class="large-3 columns">
      <dt>Weight :</dt>
      <dd><%= @bill_of_lading.gross_weight %> <%= @bill_of_lading.weight_units %></dd>
    </div>
    <div class="large-3 columns">
      <dt>Invoices :</dt>
      <dd><%= @bill_of_lading.invoices %></dd>
    </div>
  </dl>
</div>
